<h1>Available <%= @role.capitalize.pluralize %></h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @people.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.position %></td>
      <td><%= display_franchise_name(person.franchise) %></td>
      <td><%= link_to 'Show', franchise_person_path(@franchise, person, role: @role) %></td>
      <td><%= link_to 'Edit', edit_franchise_person_path(@franchise, person, role: @role) %></td>
      <td><%= link_to 'Destroy', franchise_person_path(@franchise, person, role: @role),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create New #{@role.capitalize}", new_franchise_person_path(@franchise, role: @role) %></p>
<p><%= link_to "Create Random #{@role.capitalize}", generate_random_franchise_people_path(@franchise, role: @role), method: :post %></p>