<h1><%= @franchise.city %> <%= @franchise.mascot %> Facilities</h1>

<p id="notice"><%= notice %></p>

<table>
<tr><td>Medical</td><td><%= @facility.medical %></tr>
<tr><td>Practice</td><td><%= @facility.practice %></tr>
<tr><td>Scouting</td><td><%= @facility.scouting %></tr>
<tr><td>Meeting</td><td><%= @facility.meeting %></tr>
<tr><td>Research</td><td><%= @facility.research %></tr>
<tr><td>Technology</td><td><%= @facility.technology %></tr>
<tr><td>Locker Room</td><td><%= @facility.locker %></tr>
<tr><td>Dining</td><td><%= @facility.dining %></tr>
<tr><td>Espionage</td><td><%= @facility.espionage %></tr>
</table>

<%= link_to 'Back', franchise_path(@franchise) %>
