<%= form_with model: @franchise, local: true do |form| %>

  <% if @franchise.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@franchise.errors.count, "error") %> prohibited
        this franchise from being saved:
      </h2>
      <ul>
        <% @franchise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>
 
  <p>
    <%= form.label :mascot %><br>
    <%= form.text_field :mascot %>
  </p>

  <p>
    <%= form.label :primary_color %>
    <%= form.color_field :primary_color %>
  </p>

  <p>
    <%= form.label :secondary_color %>
    <%= form.color_field :secondary_color %>
  </p>

  <p>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0..100 %>
  </p>

  <p>
    <%= form.label :generate_people %>
    <%= form.check_box :generate_people %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>