<h1>Beyond the Gridiron</h1>
<p>Welcome to the game. Please select a franchise to play.</p>
 
<table>
  <% @franchises.each do |franchise| %>
    <tr>
      <td><%= link_to "#{franchise.city} #{franchise.mascot} (#{franchise.rating})", franchise_path(franchise) %></td>
      <td><%= link_to 'Destroy', franchise_path(franchise),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Create New Franchise', new_franchise_path %></p>
<p><%= link_to 'Create New League', new_league_path %></p>

<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to leagues_path, class: 'login-button' do %>Go to App<% end %>
	<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %>