<h1>Beyond the Gridiron</h1>
<p>Welcome to the game. Please select a franchise to play.</p>
 
<table>
  <% @franchises.each do |franchise| %>
    <tr>
      <td>
      <% if current_user.franchise == franchise %><strong><% end %>
      <%= link_to "#{franchise.city} #{franchise.mascot} (#{franchise.rating})", franchise_path(franchise) %>
      <% if current_user.franchise == franchise %></strong><% end %>
      </td>
      <td><%= link_to 'Destroy', franchise_path(franchise),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% if current_user.franchise.nil? && franchise.user.nil? %>
        <td><%= link_to "Set As Franchise", set_user_franchise_path(franchise), method: :post %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Create New Franchise', new_franchise_path %></p>
<p><%= link_to 'Create New League', new_league_path %></p>