<h2>Coaches</h2>
<table>
  <% @coaches.each do |coach| %>
    <tr>
      <td><%= link_to "#{coach.name}", franchise_person_path(@franchise, coach) %></td>
      <td><%= coach.position %></td>
      <td><%= coach.rating %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Hire a Coach', available_franchise_people_path(@franchise, role: 'coach') %></p>
<h2>Players</h2>
<table>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to "#{player.name}", franchise_person_path(@franchise, player) %></td>
      <td><%= player.position %></td>
      <td><%= player.rating %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Sign a Player', available_franchise_people_path(@franchise, role: 'player') %></p>