<h1><%= @schedule.year %> <%= @franchise.full_name %> Schedule</h1>

<ol>
  <% @games.each do |g| %>
    <% opponent = g.away_team %>
    <% if g.home_score.nil? %>
      <li><%= link_to "#{opponent.full_name}", play_game_franchise_path(game_id: g.id), method: :post %></li>
    <% else %>
      <li><%= "#{@franchise.full_name}: #{g.home_score}, #{opponent.full_name}: #{g.away_score}" %> 
    <% end %>
  <% end %>
</ol>

<p><%= link_to 'Franchise Home', franchise_path(@franchise) %></p>