<h1><%= @franchise.city %> <%= @franchise.mascot %> (<%= @franchise.rating %>)</h1>

<h2>Coaches</h2>
<table>
  <% @coaches.each do |coach| %>
    <tr>
      <td><%= link_to "#{coach.name}", franchise_person_path(@franchise, coach) %></td>
      <td><%= coach.position %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Hire a Coach', available_franchise_people_path(@franchise, role: 'coach') %></p>
<h2>Players</h2>
<table>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to "#{player.name}", franchise_person_path(@franchise, player) %></td>
      <td><%= player.position %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Sign a Player', available_franchise_people_path(@franchise, role: 'player') %></p>

<p><%= link_to 'Edit Franchise', edit_franchise_path %></p>
<p><%= link_to 'Generate Team', generate_team_franchise_path, method: :post %></p>
<p><%= link_to 'Return to Franchise List', franchises_path %></p>