<h1><%= @franchise.city %> <%= @franchise.mascot %> (<%= @franchise.rating %>)</h1>

<p><%= link_to 'Roster', roster_franchise_path %></p>
<p><%= link_to 'Play a Game', setup_game_franchise_path %></p>
<p><%= link_to 'Edit Franchise', edit_franchise_path %></p>
<p><%= link_to 'Generate Team', generate_team_franchise_path, method: :post %></p>
<p><%= link_to 'Return to Franchise List', franchises_path %></p>