<h1><%= @franchise.city %> <%= @franchise.mascot %> (<%= @franchise.rating %>)</h1>
<p>Stadium: <%= @franchise.stadium.size_name.capitalize if @franchise.stadium %>
<% unless @franchise.stadium %>
<%= link_to 'Build a Stadium', build_stadium_franchise_stadia_path(@franchise), method: :post %>
<% end %>
</p>
<p>Primary Color: <%= @franchise.primary_color %></p>
<p>Secondary Color: <%= @franchise.secondary_color %></p>
<p>League: <%= @franchise.league&.name %></p>
<p><%= link_to 'Roster', roster_franchise_path %></p>
<p><%= link_to 'Play a Game', setup_game_franchise_path %></p>
<p><%= link_to 'Edit Franchise', edit_franchise_path %></p>
<p><%= link_to 'Generate Team', generate_team_franchise_path, method: :post %></p>
<p><%= link_to 'Return to Franchise List', franchises_path %></p>