<p>Stadium: <%= @franchise.stadium.size.capitalize %></p>
<p>Primary Color: <%= @franchise.primary_color %></p>
<p>Secondary Color: <%= @franchise.secondary_color %></p>
<p>League: <%= link_to @franchise.league&.name, league_path(@franchise.league) %></p>
<p><%= link_to 'Roster', roster_franchise_path %></p>
<p><%= link_to 'Schedule', schedule_franchise_path %></p>
<p><%= link_to 'Facilities', franchise_facility_path(@franchise) %></p>
<p><%= link_to 'Edit Franchise', edit_franchise_path %></p>
<p><%= link_to 'Fill Team', fill_team_franchise_path, method: :post %></p>
<% if current_user.franchise == @franchise %>
  <p><%= link_to 'Leave Franchise', set_user_franchise_path(clear: true), method: :post %></p>
<% end %>