<h1>Available Coaches</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @coaches.each do |coach| %>
    <tr>
      <td><%= coach.name %></td>
      <td><%= coach.role %></td>
      <td><%= display_franchise_name(coach.franchise) %></td>
      <td><%= link_to 'Show', franchise_coach_path(@franchise, coach) %></td>
      <td><%= link_to 'Edit', edit_franchise_coach_path(@franchise, coach) %></td>
      <td><%= link_to 'Destroy', franchise_coach_path(@franchise, coach),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Create New Coach', new_franchise_coach_path(@franchise) %></p>
<p><%= link_to 'Back to Franchise', franchise_path(@franchise) %></p>