<header style="background-color:lightgray;">
  <% if current_user %>
    <% franchise = current_user.franchise %>
    <% if franchise %>
      <%= "<div style='background-color:#{background_color};color:#{foreground_color};'>".html_safe %>
      <h1><%= franchise.city %> <%= franchise.mascot %> (<%= franchise.rating %>)</h1>
      </div>
      <p>
      <%= link_to "League", league_path(franchise.league) %> |
      <%= link_to "Team", franchise_path(franchise) %>
    <% else %>
      <h1>Beyond the Gridiron</h1>
      <p>
    <% end %>|
    <%= current_user&.email %>
    </p>
  <% end %>
</header>